#aboutMe {
    line-height: 1.65em;
    text-align: center;
    margin: 5em 3em;
    h2:first-child {
        margin-bottom: 0em;
        font-size: 2.3em;
        font-style: italic;
        color: $secondColor;
    }
}
@media screen and (min-width: 1100px) {
    #aboutMe {
        @include grid();
        grid-template-columns: 470px 650px;
        grid-template-rows: 700px;
        text-align: center;
    }
    #aboutMeText {
        margin: 0 2.5em;
    }
}